/* App.css */

/* Estilos para el contenedor principal */
.container {
  text-align: center;
  margin: 1px;
}

.mensaje {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding-bottom: 3px;
}

.panel-hojas{
  flex: 2;
  margin-left: 10px;
  border-left: 1px solid #ccc;
  padding-left: 20px;
  padding-bottom:10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

/* Estilos para el contenedor del chat */
.chat-container {
  display: flex;
}

/* Estilos para el panel de mensajes y selección de hoja */
.message-panel {
  flex: 2;
  margin-left: 10px;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

/* Estilos para el contenedor de mensajes */
.message-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: auto;
}

/* Estilos para los mensajes */
.message {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Estilos para el panel de entrada de hoja o asignatura */
.input-panel {
  margin-top: 20px;
}

/* Estilos para las etiquetas de los inputs */
.input-label {
  margin-bottom: 5px;
}

/* Estilos para los inputs */
.input-field {
  margin-bottom: 10px;
  padding: 5px;
}

/* Estilos para los botones */
.abrir {
  margin-top: 40px;
  background-color: #358ccf;
  border-color: #358ccf;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  margin-bottom: 65px;

}

/* Estilos para el botón de cerrar chat */
.boton{
  margin-top: 20px;
  background-color: #358ccf;
  border-color: #358ccf;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
  padding:3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin-left: 8px;
}

.header-image {
  width: 100%; /* Ajusta el ancho según sea necesario */
  max-height: 100px; /* Ajusta la altura según sea necesario */
  object-fit: cover; /* Para ajustar la imagen manteniendo su relación de aspecto */
  margin-bottom: 60px; /* Agrega un margen inferior para separar la imagen del contenido siguiente */
}

/* Estilos para el footer */
.footer {
  background-color: #888; /* Fondo gris */
  padding: 15px;
  position: relative;
}

/* Estilos para la sección de contenido dentro del footer */
.footer-content {
  display: flex;
  justify-content: flex-end; /* Coloca la imagen en la esquina derecha */
}

/* Estilos para la imagen en el footer */
.footer-image { 
  width: 100px; /* Ajusta el ancho según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}

.bienvenida {
  max-width: 800px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  text-align: center; /* Centra el texto dentro del contenedor */
  padding: 0 20px; /* Agrega espacio a los lados del contenedor según sea necesario */
}

.table-head{
  background-color: #358ccf;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding: 10px;
}

.table-body{
  background-color: #f0f6ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  padding: 5px;
}
